.embla {
	display: flex;
	max-width: 50rem;
	margin: auto;
	--slide-height: 19rem;
	--slide-spacing: 1rem;
	--slide-size: 25%;
}
.embla__viewport {
	overflow: hidden;
}
.embla__container {
	backface-visibility: hidden;
	display: flex;
	touch-action: pan-y pinch-zoom;
	margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
	display: flex;
	flex: 0 0 var(--slide-size);
	min-width: 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    margin-right: 2rem;
	box-shadow: 0px 3.17px 19.04px 0px #BDBDBD3B;
}
